streamlit
pandas
numpy
matplotlib
install -r requirements.txt


git init
git remote add origin https://github.com/carolinelan0911-hash/fintech-sentiment-app.git
git add .
git commit -m "Initial commit for Streamlit deployment"
git branch -M main
git push -u origin main

